<div class="ui-g-10 ui-g-offset-1 ">
        
    <p-dataTable [value]="clients" [globalFilter]="gb" selectionMode="single" [(selection)]="selectedClient" (onRowSelect)="goToClientDetails(selectedClient.id)"
        [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
        <p-header>&nbsp;
           <button pButton class="pull-left" (click)="addClient()" label="Create" title="Create new client"></button>
            <span  class="pull-right"><input #gb type="text" placeholder="Search Clients"></span></p-header>
        <p-column field="id" header="Id" [sortable]="true" [style]="{'width':'5%'}"></p-column>
        <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
        <p-column field="email" header="Email" [sortable]="true"></p-column>

    </p-dataTable>

   <app-client-modal #clientModal (onSaved)="onSaved($event)"></app-client-modal>
</div>