<div class="ui-g-10 ui-g-offset-1 ">
	<p-dataTable [value]="mails" selectionMode="single" [rowStyleClass]="getStyleClass" [(selection)]="selectedEmail" (onRowSelect)="goToMailDetails(selectedEmail.id)"
	 [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
		<p-header>
			<span *ngIf="mails">{{mails.length}}</span> emails</p-header>
		<p-column [style]="{'width':'8%'}">
			<ng-template let-col let-mail="rowData" pTemplate="body">
				<span *ngIf="mail.interactionType=='EMAIL'">
					<button type="button" pButton icon="fa-envelope"></button>
				</span>
			</ng-template>
		</p-column>
		<p-column header="Client" [sortable]="true">
			<ng-template let-col let-mail="rowData" pTemplate="body">

				<span *ngIf="mail.client">{{mail.client.lastName}} {{mail.client.firstName}} {{mail.client.email}}</span>
				<span *ngIf="!mail.client && mail.sender">{{mail.sender.personal}} {{mail.sender.address}}
				</span>
			</ng-template>
		</p-column>

		<p-column 
		header="Subject" [sortable]="true" [style]="{'width':'50%'}">
		<ng-template let-col let-mail="rowData" pTemplate="body">
				
					
									{{mail.description}} >>
									{{mail.body | slice:0:30}} 
						
							</ng-template>
	</p-column>

		<p-column field="created" [sortable]="true"></p-column>
	</p-dataTable>
	<br>

</div>