<div class="ui-g-10 ui-g-offset-1 ">
	<input #gb type="text" placeholder="Search for mail">
	<p-dataTable [value]="mails" [globalFilter]="gb" selectionMode="single" [rowStyleClass]="getStyleClass" [(selection)]="selectedEmail" (onRowSelect)="goToMailDetails(selectedEmail.id)"
	 [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
		<p-header>
			<span *ngIf="mails">{{mails.length}}</span> emails</p-header>
		<p-column [style]="{'width':'8%'}" >
			<ng-template let-col let-mail="rowData" pTemplate="body">
				<span *ngIf="mail.interactionType=='EMAIL'">
					<span *ngIf="mail.state=='New'">
						<span class="label label-primary fa fa-envelope-o" style="font-size:1em"> </span>
					
					</span>
					<span *ngIf="mail.state!='New'">
							<span class="label label-info fa fa-envelope-open-o" style="font-size:1em"> </span>
					</span>
				</span>
			</ng-template>
		</p-column>
		<p-column header="Client" >
			<ng-template let-col let-mail="rowData" pTemplate="body">

				<span *ngIf="mail.client">
					{{mail.client.lastName}} {{mail.client.firstName}} {{mail.client.email}}</span>
				<span *ngIf="!mail.client">
					<span *ngIf="mail.sender">{{mail.sender.personal}} {{mail.sender.address}}</span>
					<span class="label label-default fa fa-user-secret" style="font-size:1em"> </span>
				</span>
			</ng-template>
		</p-column>
		<p-column header="From"  field="address" [sortable]="true"></p-column>
		<p-column header="Subject" field="description"  filterMatchMode="contains"  [sortable]="true" [style]="{'width':'50%'}">
		</p-column>

		<p-column field="created" [sortable]="true"></p-column>
		
	</p-dataTable>
	<br>

</div>