<button pButton class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" label="go back" icon="fa-backward" (click)="goBack()"></button>
<div *ngIf="mail" class="ui-fieldset">
	<div class="ui-fieldset-legend"> mail body
			<button type="button" pButton icon="fa-reply" style="float:right"  label="Reply"></button>
	</div>
	<!-- TODO: ngIf text|html -->
	<div class="ui-fieldset-content">
		<pre>
		{{mail.body}}
		</pre>
	</div>
		<!-- TODO: ngIf hasAttachments -->
</div>
